*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: rgb(239, 2, 2);
    --black: #333;
}

/* HEADER */

.header-top-red-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--red);
    color: white;
    border-bottom: 1px solid var(--black);
}

.header-top-left-container {
    display: flex;
    align-items: center;
}

.header-top-left-container div {
    display: flex;
    align-items: center;

}

.header-top-red-bar img {
    width: 2rem;
}

.header-top-right-container {
    
    display: flex;
    align-items: center;
}

.header-main-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 0.5rem rgb(255, 187, 0);
}
