*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --red: rgb(239, 2, 2);
    --yellow: rgb(255, 187, 0);
    --black: #333;
}

a {
    text-decoration: none;
}

.btn {
    background-color: var(--red);
    color: white;
    padding: 0.5rem 2.5rem;
    border-radius: 0.3rem;
}

body {
    position: relative;  /* Ensures the pseudo-element positions relative to the body */
}

body::before {
    content: "";
    background: url(./images/background.webp);  /* your background image */
    position: absolute;  /* Positions the pseudo-element right over the body */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;  /* Set the opacity of the background image */
    z-index: -1;  /* Puts the pseudo-element behind the body content */
}


/* HEADER */

.header-top-red-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--red);
    color: white;
    border-bottom: 1px solid var(--black);
    padding-block: 0.2rem;
    padding-inline: 1.5rem;
}

.header-top-left-container {
    display: flex;
    align-items: center;
}

.header-top-left-container div {
    display: flex;
    align-items: center;

}

.header-top-red-bar img {
    width: 2rem;
}

.header-top-right-container {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.header-top-social-media {
    margin-left: 1rem;
}

.header-main-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 0.5rem var(--yellow);
    padding-block: 1.5rem;
    background-color: white;
}

nav {
    margin-right: 10rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

nav a {
    color: red;
    font-weight: bold;
    font-size: 1.4rem;
}

/* MAIN SECTION */

main {
    max-width: 1400px;
    margin: 0 auto;
    border: solid 1px greenyellow;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;


}

.grid-1fr {
    border: 1px solid pink;
}

.grid-2fr{
    grid-column: span 3;
    border: 1px solid yellow;
}

.products-box {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.products-img-overlay {
        position: relative;
        display: inline-block;
    }
    
.products-img-overlay:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--red);
        opacity: .1;
        transition: opacity .3s ease;
        border-radius: 1rem;
    }
    
.products-img-overlay:hover:before {
        opacity: 0;
    }
    
.products-img{
        max-width: 20rem;
        border-radius: 1rem;
        display: block;
    }
    




.products-specials-box ul {
    list-style-type: none;
}


.specials-img {
    width: 100%;
}


.products-specials-testimonials {
    display: flex;
    flex-direction: column;
}

.testimonial-icons-container {
    display: flex;
    justify-content: center;
    text-align: center;
}


/*BRANDS*/

.brands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brands-container img {
    width: 80%;
}

/* NEXT PROJECT */

.next-project-container {
    display: flex;
 
}

.next-project-img {
    max-width: 55rem;
    border-radius: 0.5rem;
}

.next-project-ace-logo {
    width: 20rem;
}

.next-project-right-container {
    border: solid 1px green;
    width: 100%;
}


/*FOOTER SECTION*/

.top-footer, .footer-phone, .footer-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-footer img {
    max-width: 2.5rem;
}

.top-footer {
    background-color: white;
}

.bottom-footer {
    color: var(--yellow);
    background-color: var(--red);
    text-align: center;
}